body, div, p, header, h1 ,h2, h3, ul, li { margin: 0; padding: 0 }

a {
	color: #36b;
	text-decoration: none
}


body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 23px;
	font-size: 14px;
	margin-top: 17px;
	padding-bottom: 70px
}

ul {

	list-style: none
}

img {border:0}

.container {

	width: 1040px;
	padding: 0;
	margin: auto;
	position: relative;

}


/*

	H E A D E R

*/


.header {

	font-size:13px;
	color: #444;
	height: 26px;
	padding-top: 5px

}

.header a {

	border-right: 1px solid #999;
	padding-right:12px;
	margin-right:10px

}

.header a img {

	float:left;
	margin:2px 5px 0 0

}



/*

	O P T I O N S

*/


.options {

	border-radius: 2px;
	margin:14px auto 26px auto;
	background:#f2f2f2;
	border:1px solid #ccc;
	position: relative;
	height: 240px

}


.options div {

	display: block;
	float: left;
	width: 33.33%;
	height: 200px;
	margin: 15px 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

}

.mid {

	border-right: 1px solid #fff;
	border-left: 1px solid #fff

}

.mid ul {

	margin-left: 30px;
	line-height: 36px

}


.left {
	border-right: 1px solid #ccc;
	padding: 8px 20px 0 25px
}


.right {
	line-height: 36px;
	text-align: right;
	border-left: 1px solid #ccc
}


.input {

	width: 60px;
	padding-left: 5px;
	font-size: 13px;
	line-height: 20px;
	color: #555555;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #bbb;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border linear 0.2s, box-shadow linear 0.2s;

}



.email {

	display: inline-block;
	vertical-align: top;
	height: 20px;
	width: 190px;
	padding: 4px 6px;
	margin: 0 5px 0 0;


}


.left button {

	display: inline-block;
	vertical-align: top;
	padding: 4px 12px;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}

.right button {

	cursor: pointer;
	float:right;
	font-size: 13px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
    color: #f9f9f9;
    padding: 7px 18px;
    margin: 9px 23px 0;
    border-radius: 4px;
    background-origin: border-box;
    background-color: #4588C1; /* fallback color */
    background-image: -moz-linear-gradient(100% 100% 90deg, rgba(0,0,0,.1), rgba(255,255,255,.1));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.1)), to(rgba(0,0,0,.1)));
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: 0 1px 2px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.2) inset;
}

.right button:hover {

    background-image: -moz-linear-gradient(100% 100% 90deg, rgba(0,0,0,.2), rgba(255,255,255,.2));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.2)), to(rgba(0,0,0,.2)));

}

.right ul {

	margin: 0 20px 0 0

}

.right .input {

	margin-left: 8px

}

.right label {

	margin-left: 8px

}






/*

	T A B L E
	
*/



.psp {
	text-align: left;
	padding-left: 8px;
	font-size: 12px;
	width: 105px
}

.psp img {
	margin: 8px 0 3px;
}




.kort {
	width: 95px;
	padding-top: 16px !important;
	text-align: center;
	margin: auto
}

.kort img {
	margin: 3px 2px
}

.acquirer {
	text-align: center;
	width: 90px
}

.acquirer img {
	margin: 6px 0;
}




.table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	border: solid #ccc 1px;
	border-left: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400;
	font-size: 13px;
	color: #444;
}

.table th, .table td {
	text-align: center;
	position: relative
}

.table > tbody > tr > td, .table > thead > tr > th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 11px 7px 9px;
}

.table > thead > tr > th, .table > thead > tr > td {
	background: #dce9f9;
	border-top:1px solid #F5F9FC;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.table tbody img {
	vertical-align:middle;
}






.tooltip img {margin: -2px 0 0 6px;}

.tooltip {outline:none; cursor: help;display:inline; position: relative }
.tooltip strong {line-height:30px;}
.tooltip:hover {text-decoration:none;}

.tooltip span {
    z-index:10;
    display:none;
	position:absolute;
    padding:14px 20px;
    top: -80px;
    margin-left: -88px;
    width:160px;
    line-height:16px;
    font-size: 12px;
    background: #2C3843;
	color:#f4f4f4;
	border: 1px solid #000;
	border-radius: 3px;
}

.tooltip:hover span {
	display:block;
}


.tooltip:hover span:after, .tooltip:hover span:before {
	top: 100%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
}

.tooltip:hover span:before {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #000;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}


.tooltip:hover span:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #2C3843;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
 #medregnopretgebyrinfo span{
	width:360px;
	margin-left: -186px;
    top: -118px;
}








.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}







@media screen and (max-width: 1150px){

	.github {

		display: none

	}


}




