<footer>

  <!-- Sociale knapper -->
  <div id="fb-root"></div>

  <div class="social">
    <span class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://kortgebyr.dk" data-lang="da">Tweet</a></span>
    <span class="google"><div class="g-plusone" data-size="medium" data-href="http://kortgebyr.dk"></div></span>
    <span class="Facebook fb-share-button" data-href="http://kortgebyr.dk" data-type="button_count"></span>
  </div>


Kortgebyr er udviklet af <a href="https://twitter.com/ulrikmoe">Ulrik Moe</a>, <a href="https://twitter.com/christianblach">Christian Blach</a> og <a href="https://github.com/zhasha">Joakim Sindholt</a> som et værktøj
<br />til at sammenligne betalingsløsninger. Kortgebyr er uafhængig, non-profit og <a href="https://github.com/ulrikmoe/kortgebyr">open source</a> (<small><a href="http://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a></small>).


</footer>
</body></html>
