<!-- Sociale knapper -->
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/da_DK/all.js#xfbml=1&appId=544544962293468";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	window.___gcfg = {lang: 'da'};
	
	(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
</script>

<div class="nav">
	<div class="container">
		<div class="social">
			<span class="twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://kortgebyr.dk" data-lang="da">Tweet</a>
			</span>
			<span class="google">
				<div class="g-plusone" data-size="medium" data-href="http://kortgebyr.dk"></div>
			</span>
			<span class="Facebook">
				<div class="fb-share-button" data-href="http://kortgebyr.dk" data-type="button_count"></div>
			</span>
		</div>	

		<div class="contact">
			<a href="/">Forside</a>
			<a href="/metode.html">Forklaring</a>
			<a href="mailto:ulrik.moe@gmail.com">Kontakt</a>
			<a href="/changelog.md">Changelog</a>
		</div>

		<div class="logo">
			<a href="/">
				kortgebyr
			</a>
		</div>
	</div>
</div>
