<!-- Sociale knapper -->
<div id="fb-root"></div>

<script>

function initialize() {
	if (window.location.pathname == "/") { // midlertidig fix
		build('init');
	}

	var element = document.createElement("script");
	element.src = "defer.js";
	document.body.appendChild(element);
}
window.onload = initialize;

</script>

<div class="nav">
	<div class="container">
		<div class="social">
			<span class="twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://kortgebyr.dk" data-lang="da">Tweet</a>
			</span>
			<span class="google">
				<div class="g-plusone" data-size="medium" data-href="http://kortgebyr.dk"></div>
			</span>
			<span class="Facebook fb-share-button" data-href="http://kortgebyr.dk" data-type="button_count">
			</span>
		</div>

		<div class="menu">
			{% if page.canonical == "http://kortgebyr.dk" %}
			<a href="/" class="active">Kortgebyr</a>
			{% else %}
			<a href="/">Kortgebyr</a>
			{% endif %}
			{% if page.canonical == "http://kortgebyr.dk/forklaring.html" %}
			<a href="/forklaring.html" class="active">Forklaring</a>
			{% else %}
			<a href="/forklaring.html">Forklaring</a>
			{% endif %}
			<a href="mailto:ulrik.moe@gmail.com">Kontakt</a>
		</div>

		<div class="logo">
			<a href="/">
				kortgebyr
			</a>
		</div>
	</div>
</div>
