<header class="navigation" role="navigation">

  <div class="container">

    <a class="logo" href="/">kortgebyr</a>

    <nav>
      <a class="active" href="#">
            Udregner
          </a>
      <a href="#">
            Foklaring
          </a>
      <a href="#">
            Guide
          </a>
      <a href="#">
            Changelog
          </a>
    </nav>

    <div class="language">
      <img width="19" src="/dk1.png" />
    </div>

    <div class="currency">DKK

    <select>
      <option value="DKK">DKK</option>
      <option value="SEK">SEK</option>
      <option value="NOK">NOK</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
    </div>

    <div class="contact">
      <a href="mailto:ulrik.moe@gmail.com">Feedback</a>
    </div>

  </div>

</header>
