
@font-face {
   font-family: 'SSP';
   font-weight: 400;
   font-style: normal;
   src: url("/assets/fonts/SSP/regular.woff2") format('woff2'), url("/assets/fonts/SSP/regular.woff") format('woff');
}

@font-face {
   font-family: 'SSP';
   font-weight: 600;
   font-style: normal;
   src: url("/assets/fonts/SSP/semibold.woff2") format('woff2'), url("/assets/fonts/SSP/semibold.woff") format('woff');
}

html {
	font-family: 'SSP', 'Helvetica Neue', Helvetica, Arial, sans-serif; /* 1 */
	font-size: 16px;
	line-height: 1.5;
	color: #2c2c2c;
	position: relative;
   box-sizing: border-box;
}

body {
    background: #fff;
    overflow-x: hidden;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
   box-sizing: inherit;
}

a { color: #36b; text-decoration: none; }

.c {
   width: 90%;
   max-width: 700px;
   margin: auto;
   position: relative;
}

.nav {
   border-bottom: 1px solid #d0d0d0;
   padding: 60px 0 40px;
   text-align: center;


   h1 {
      text-align: center;
      font-size: 50px;
   }

   li {
      display: inline-block;
   }

}

section {
   margin: 30px 0 0;
}
