
body {
    padding-bottom: 5em;
    font-size: .95rem;
    line-height: 1.47;
    color: #333;
}

.logo {
    fill: #fff;
}

.container {
    width: 92%;
    max-width: 45em;
    margin: auto;
    position: relative;
}

.header--c {
    max-width: 40em;
}

.header--h1 {
    font-weight: 600;
    text-align: center;
    font-size: 1.2em;
    margin: 20px auto 5px;
}

h2 {
    font-weight: 600;
    margin: 1.2em 0 .5em;
    font-size: 17px;
    color: #444;
}

p {
    padding: 0;
    margin: 0.4em 0;
}

ul {
    padding-left: 0;
}

.header {
    padding: 2.5em 0 1.9em;
    text-align: center;
    color: white;
    background: #2291ef;
    position: relative;
    overflow: hidden;
}

.notice-- {
    font-size: .85rem;
    margin: 2em 0 0;
    padding: .7em 1.1em .6em;
    color: #2a1f0b;
    background: #f9f0e2;
    border-left: 3px solid #f1ae48;

    > p {
        color: #423113;
    }
}

.notice--h3 {
    margin: .2em 0;
    color: #6c511f;
    font-weight: 700;
    font-size: .9rem;
}


section {
    margin: 1.2em 0;

    .anchor {
        color: #c0c0c0;
        margin-left: 5px;
    }

    ul {
        margin-left: 50px;
    }
}
