
// Noto Sans (UI): 2017-05-21
@font-face {
    font-family: 'N';
    src: url('/font/N400.woff2') format('woff2'), url('/font/N400.woff') format('woff');
}

@font-face {
    font-family: 'N';
    font-weight: 700;
    src: url('/font/N700.woff2') format('woff2'), url('/font/N700.woff') format('woff');
}

@font-face {
    font-family: 'N';
    font-style: italic;
    src: url('/font/N400i.woff2') format('woff2'), url('/font/N400i.woff') format('woff');
}

body {
    height: 100%;
    font: 14.5px/1.48 'N', Helvetica Neue, Arial, sans-serif;
    color: #2b2b2b;
    -ms-text-size-adjust: 100%; // Fix text size adjust after orientation change.
    -webkit-text-size-adjust: 100%; // Fix text size adjust after orientation change.
    background: #fff;
    margin: 0;
}

a {
    color: #337ab7;

    &:active, &:hover {
        outline: 0; // Improve readability of focused elements (normalize)
        color: #23527c;
    }
}

img, svg {
    vertical-align: middle;
    box-sizing: content-box;
}


// Here we go

.c {
    width: 90%;
    max-width: 630px;
    margin: auto;
    position: relative;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;

    > a {
        color: inherit;
        text-decoration: none;
    }
}

h2 {
    margin: 1.2em 0 .5em;
    font-size: 17px;
    color: #444;
}

p {
    padding: 0;
    margin: 0.4em 0;
}

ul {
    padding-left: 0;
}

.header {
    padding: 2.8em 0 1.9em;
    text-align: center;
    color: white;
    background: #007be4;
    position: relative;
    overflow: hidden;
}

.notice {
    font-size: 14px;
    margin: 33px 0 0;
    padding: 12px 20px 15px;
    color: rgba(0, 0, 0, 0.8);
    background: #fcf8f2;
    border-left: 3px solid #f1ae48;
}

.notice--h3 {
    margin: 2px 0 2px;
    color: #dc9e2d;
    font-weight: 600;
    font-size: 15px;
}


section {
    margin: 1.2em 0;

    .anchor {
        color: #c0c0c0;
        margin-left: 5px;
    }

    ul {
        margin-left: 50px;
    }
}
