// Browser fixes
img { box-sizing: content-box; border:0px; }
a:active, a:hover, :focus { outline: 0; outline-color: transparent; outline-style: none; }
input, button, select { font-family: inherit; color: inherit; }
.hidden { display: none !important; visibility: hidden; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
img,svg { vertical-align: middle; }
.noselect, .menulist {
   -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;
   -moz-user-select: none; -ms-user-select: none; user-select: none;
}

*, *:before, *:after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: inherit;
}

html {
   font-family: Arial, sans-serif;
   font-size: 15px;
   line-height: 1.5;
   color: #2c2c2c;
   position: relative;
   box-sizing: border-box;
   height: 100%;
   overflow: auto;
}

body {
   background: #fff;
   height: 100%;
   overflow: auto;
}

a {
   color: #36b;
   text-decoration: none;
}

.c {
   width: 97%;
   max-width: 1040px;
   min-width: 860px;
   margin: auto;
   position: relative;
}

header {
   display:block;
   margin-top: 15px !important;
   border: 1px solid #dbdbdb;
}

nav {
   font-size: 14px;
   border-bottom: 1px solid #ddd;
   height: 43px;
   line-height: 41px;
   background-color: #f5f5f5;
   overflow: hidden;

   .logo { float: left; }
   .logo a {
      margin-left: 20px;
      color: #204499;
      font-size:20px;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-weight:bold;
      text-shadow: #fff 0px 1px 1px;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
      font-smoothing: antialiased;
      text-rendering: optimizeLegibility;

      &:hover { color: #3E79BB; }
   }

   .contact {
      float:right;
      margin-right:18px;
      line-height: 43px;
   }

   .language, .currency {
      float:right;
      height:100%;
      border-left: 1px solid #ddd;
      cursor: pointer;
      line-height: 43px;

      &:after {
         content: "";
         position:absolute;
         top: 20px;
         right: 10px;
         width: 0;
         height: 0;
         border-left: 4px solid transparent;
         border-right: 4px solid transparent;
         border-top: 4px solid #bbb;
      }

      &:hover:after { border-top-color: #999; }
   }

   .language:hover, .currency:hover {
      background-color: #e9e9e9;
   }

   .currency {
      width: 62px;
      position:relative;

      label {
         padding-left: 10px;
      }

      select {
         opacity: 0;
         z-index: 10;
         position:absolute;
         right: 0;
         left: 0;
         bottom:0;
         top:0;
         width: 100%;
         height: 100%;
         font-size: 13px;
         cursor:pointer;
      }

   }
   .language {
      width: 56px;
      img { margin: 0px 0 0 11px; }
   }

   .lastUpdate {
      float: left;
      margin: 3px 0 0 7px;
   }
}

.menu {
   font-size: 14px;

   section {
      display: block;
      width: 32%;
      float:left;
      padding: 6px 0 5px 3%;
      margin: 11px 0;
   }

   label {
      display: table;
      margin: 5px 0;
      line-height: 22px;
   }

   input { margin-right: 5px; }

   .acquirer_menu {
      padding-left: 22px;
      padding-right: 25px
   }

   h2 {
      font-size: 24px;
      color: #444;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
      font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
   }

   .field {
      width: 70px;
      margin: 4px 7px 5px 0;
      padding-left: 4px;
      font-size: 14px;
      line-height: 24px;
      height: 26px;
      color: #555;
      border-radius: 3px;
      background-color: #fff;
      border: 1px solid #bbb;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border linear 0.2s, box-shadow linear 0.2s;
   }

   .acquirer_field
   {
      width: 100%;

      select {
         display: block;
         font-weight: 600;
         width: 100%;
         height: 30px;
         padding: 0 5px;
         margin-bottom: 13px;
         font-size: 14px;
         color: #666;
         border: 1px solid #ccc;
         border-radius: 4px;
         font-weight: 400;
         background: #FDFDFD;
      }
   }

   .acquirer_description {
      font-size:14px;
      margin-top: 16px
   }

   h2 {
      font-size: 15px;
      margin-bottom: 7px;
   }
}

.table {
   background: #fff;
   border-collapse: separate;
   border-spacing: 0;
   border: 1px solid #d9d9d9;
   border-left: 0;
   font-weight: 400;
   font-size: 14px;
   color: #444;
   empty-cells: show;
   margin-top: 18px;

   td, th {
      text-align: center;
      position: relative;
      border-left: 1px solid #dcdcdc;
      border-top: 1px solid #dcdcdc;
   }
   th {
      padding: 5px 0 4px;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
      background-color: #f5f5f5;
      border-top:0;
      color: #444;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
      font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      overflow: hidden;
   }
   td {
      padding: 4px 0 0;
      height: 76px;
   }
   td:first-child {
      padding-left: 1.5%;
      text-align: left;
   }

   td:nth-child(3) {
      padding-right: 13px;
      padding-left: 13px;
   }
}
.psp {
   font-size: 12px;
   display: block;

   img {
      display: inline;
      text-align: left;
      margin: 6px 0 0;
      height: 31px;
   }
   p {
      padding: 2px 0 1px;
   }
}

.quickpay .psp img { height: 28px; }
.epay .psp img { height: 30px; }
.dibs .psp img { height: 29px; }
.checkoutcom .psp img { height: 16px; }
.checkout .psp img { height: 15px; }
.dandomain .psp img { height: 25px;}
.wannafind .psp img { height: 18px;}
.verifone .psp img { height: 23px;}
.paye img { height: 26px;}
.certitrade img { height: 26px;}
.braintree .psp img { height: 18px }
.paymill .psp img { height: 24px }
.netaxept .psp img { height: 28px }
.payer .psp img { height: 24px }
.klarna .psp img { height: 24px }
.skrill .psp img { height: 26px }


.acquirer {
   position: relative;
   margin: 0 0 2px 0;

   .clearhaus, .nets, .elavon  { height: 13px; }
   .bambora { width: 71px; }
   .teller { height: 10.4px; }
   .handelsbanken { width: 80px; }
}

.card {
   margin: 4px 3px;
}

.equal {
   font-size: 20px;
   position: absolute;
   top: 0;
   bottom: 0;
   z-index: 99;

   .icon {
      position: relative;
      margin-top: 18px;
      height: 7px;
      background: #F5F5F5;
      width: 6px;

      &:before, &:after {
         display: block;
         content: "";
         width: 100%;
         height: 2px;
         background: #9f9f9f;
      }
      &:after { margin-top: 3px; }
   }

   &.right { right: 0; }
   &.left {
      left: 0;
      border-left: 1px solid #dcdcdc;

      .icon { margin-left: -1px; width: 7px; }
   }
}

.infobutton {
   display: inline-block;
   background: #0097cf;
   margin: 10px 0;
   padding: 0px 4px;
   border-radius: 2px;
   color: white;
   cursor: pointer;
}

.kortgebyr, .procent { line-height: 19px; }
.kortgebyr { margin-top: 4px; }
.procent { word-spacing: -1px; color: #9f9f9f; font-size: 12px; }

.overlay {
   display: none;
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   z-index: 1000;
   overflow-x: auto;
   //overflow-y: scroll;
   width: 100%;
   height: 100%;

   /* Fade modal background */
   &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: gray;
      opacity: 0.7;
      overflow: visible;
   }
   &.active { display: block; }
}

.modal {
   display: block;
   background: #fff;
   border-radius: 5px;
   margin: 0 auto;
   padding: 35px 35px 25px 35px;
   position: absolute;
   left: 50%;
   top: 45%;
   transform: translate(-50%, -50%);

   & .part {
      display: none;
      &.active { display: block; }
   }
   .cross {
      font: normal normal normal 2em/normal Arial, Helvetica, sans-serif;
      width: 0.75em;
      height: 0.75em;

      &:before {
         display: inline-block;
         width: 0.45em;
         height: 0.1em;
         position: absolute;
         content: "";
         top: 0.33em;
         left: 0.155em;
         font: normal normal normal 100%/normal Arial, Helvetica, sans-serif;
         background: #fff;
         -webkit-transform: rotateZ(45deg) scaleX(1) scaleY(1) scaleZ(1);
         transform: rotateZ(45deg) scaleX(1) scaleY(1) scaleZ(1);
         -webkit-transform-origin: 50% 50% 0;
         transform-origin: 50% 50% 0;
      }

      &:after {
         display: inline-block;
         width: 0.45em;
         height: 0.1em;
         position: absolute;
         content: "";
         top: 0.33em;
         left: 0.155em;
         font: normal normal normal 100%/normal Arial, Helvetica, sans-serif;
         background: #fff;
         -webkit-transform: rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
         transform: rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
         -webkit-transform-origin: 50% 50% 0;
         transform-origin: 50% 50% 0;
      }
   }
   .exit {
      .cross;
      .noselect;
      z-index: 1;
      display: inline-block;
      position: absolute;
      cursor: pointer;
      top: 4px;
      right: 4px;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      font: normal normal normal 2em/normal Arial, Helvetica, sans-serif;
      background: #0092d2;
   }
   .acqdescription {
      float: right;
      width: 42%;
      margin-top: 6px;
      padding: 1.5% 2%;
      font-size: 85%;
      line-height: 18px;
      border: 1px solid #8B2323;
   }
   h4 {
      text-decoration: underline;
   }
   .costblock {
      margin-bottom: 15px;
   }
}


footer {
   background: #fff;
   text-align: center;
   padding: 30px 0 44px;
   color: #777;
   line-height: 24px;
   font-size: 14px;
}


@media screen and (max-width: 600px) {

   .modal {
      position: absolute;
      width: 100% !important;
      padding: 5%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transform: none;
      border-radius: 0;
   }

}
