@font-face {
    font-family: N;
    font-weight: 400;
    src: url('/font/N400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: N;
    font-weight: 400;
    font-style: italic;
    src: url('/font/N400i.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: N;
    font-weight: 600;
    src: url('/font/N600.woff2') format('woff2');
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'N', Noto Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: #2b579f; //#36b;
    text-decoration: none;

    &:hover {
        color: #0a58ca;
    }
}

b {
    font-weight: 600;
}

img,
svg {
    vertical-align: middle;
}

header {
    margin-top: 0.8rem;
    border: 1px solid #dbdbdb;
}

footer {
    text-align: center;
    color: #444;
    font-size: 0.92em;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
}

nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadada;
    background: #f3f3f3;
    padding: 7px 1rem;
    box-sizing: border-box;
}

.c {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 72rem;
    min-width: 20rem;
    box-sizing: border-box;
}

.flex1 {
    flex: 1;
}

.logo--img {
    margin-top: 1px;
}

.lastUpdate {
    margin-top: 2px;
    font-size: 0.9em;
    color: #2c5191;
}

.infobox {
    background: #fff;
    font-size: 0.95em;
    margin: 0.8em 0 0.9em;
    border: 1px solid #dcdcdc;
    padding: 0.7em 0.9rem 0.7em;
}

.settings {
    background: #fff;
    width: 100%;
    font-size: 0.95em;
    display: grid;
    grid-template-columns: 0.85fr 1.3fr 0.85fr;
    grid-gap: 3%;
    column-gap: 3%;
    padding: 0.2rem 1.1rem 1.2rem;
    box-sizing: border-box;
}

.label {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 600;
    color: #333;
    margin: 0 0 0.7em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.4em 0.75em;
    font-size: 0.95em;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25em;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    box-shadow: none;

    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25em rgba(13, 110, 253, 0.25);
    }
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.4em 0.75em;
    font-size: 0.95em;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
}

.input-group-input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 3;
}

.form-select {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0.4em 2.25em 0.4em 0.75em;
    -moz-padding-start: calc(0.75em - 3px);
    font-family: inherit;
    font-size: 0.95em;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75em center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    word-wrap: normal;
    text-transform: none;

    &:focus {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25em rgba(13, 110, 253, 0.25);
    }

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #212529;
    }
}

.form-check {
    display: block;
    min-height: 1.5em;
    padding-left: 1.5em;
    margin: 0.125em 0;
}

.form-check-input {
    float: left;
    margin: 0;
    margin-top: 0.3em;
    margin-left: -1.5em;
    width: 1em;
    height: 1em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    border-radius: 0.25em;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    &:active {
        filter: brightness(90%);
    }

    &:focus {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25em rgba(13, 110, 253, 0.25);
    }

    &:checked {
        background-color: #0d6efd;
        border-color: #0d6efd;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.form-check-label {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 3px 2px 3px 1px;
}

.field {
    padding: 0.7em 0 0.6em;
    box-sizing: border-box;
}

.avgqty {
    display: flex;
    //gap: 20px; // TODO: use at some point
    margin-bottom: 0.8em;
}

.field--avg {
    padding-right: 10px;
    flex: 1 1 0%;
}

.field--qty {
    padding-left: 10px;
    flex: 1 1 0%;
}

.responsive {
    overflow-x: auto;
}

table {
    background: none;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 0;
    border: 1px solid #d9d9d9;
    border-left: 0;
    empty-cells: show;
    min-width: 60em;
    width: 100%;
}

thead,
tbody,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

th {
    font-weight: 600;
    font-size: 0.8em;
    line-height: 1.2em;
    padding: 4px 15px 4px;
    box-sizing: border-box;
    background: #f3f3f3;
    color: #222;
    overflow-x: hidden;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: center;
    position: relative;
    border: 0;
    border-left: 1px solid #dcdcdc;
}

td {
    font-size: 0.95em;
    background: #fff;
    height: 71px;
    padding: 0;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    border: 0;
    border-left: 1px solid #dadada;
    border-top: 1px solid #dadada;
}

.th--psp {
    width: 11rem;
    padding-left: 1rem;
    text-align: left;
}

.th--acq {
    width: 120px;
}

.th--cards {
    width: 140px;
    box-sizing: border-box;
}

.th--trns {
    padding-left: 0;
    padding-right: 0;
}

.th--total {
    border-left: 0;
}

.td--acq {
    position: relative;
}

.td--acq-list {
    position: relative;
    list-style: none;
    padding: 0;
    font-size: 0.85rem;
    line-height: 1.65;
}

/*
.td--acq-info {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 1em;
}
*/

.td--cards {
    padding: 6px 10px 0;
}

.cardtd {
    padding: 6px 10px 0;
}

.td--psp {
    font-size: 0.82rem;
    padding: 3px 0 0 16px;
    text-align: left;
}

.td--psp--img {
    margin: 3px 0 3px;
}

.td--psp--note {
    text-align: left;
    font-size: 13px;
    margin: 0;
    font-style: italic;
    color: #8c3a3a;
}

.info {
    display: inline-block;
    vertical-align: bottom;
    background: url('/img/info.svg') no-repeat center right;
    background-size: 16px 16px;
    padding: 2px 24px 2px 0;
    cursor: pointer;
}

.info--ul {
    display: block;
    list-style: none;
    position: absolute;
    margin: 0;
    width: auto;
    transform: translate(-50%, 0);
    padding: 0.9em 1em 0.8em;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 0.9em;
    line-height: 1.55;
    background: rgba(51, 51, 51, 0.95);
    color: #fff;
    z-index: 10;
    white-space: nowrap;

    > li {
        display: flex;
    }

    &:after {
        content: '';
        position: absolute;
        right: 50%;
        margin-right: -7px;
        bottom: -14px;
        width: 0;
        border: 7px solid transparent;
        border-top-color: rgba(51, 51, 51, 0.95);
    }
}

.info--ul--div1 {
    flex: 1;
    margin-right: 2em;
}

.acquirer-included {
    font-style: italic;
    color: #585858;
}

.card {
    width: 22px;
    height: 15px;
    margin: 4px 4px;
}

.equal {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9;

    &.right {
        right: 0;
    }
    &.left {
        left: 0;
        border-left: 1px solid #dcdcdc;
    }
}

.equal--icon {
    position: relative;
    margin-top: 18px;
    background: #f5f5f5;
    width: 6px;
    height: 3px;
    border-top: 2px solid #9f9f9f;
    border-bottom: 2px solid #9f9f9f;

    .left > & {
        margin-left: -1px;
        width: 7px;
    }
}

.td--total--pct {
    color: #555;
    font-size: 0.9em;
    margin: 1px 0 0;
    font-style: italic;
}

.hide {
    display: none;
}

.label--tilvalg {
    margin: 0.7rem 0 0;
}

.th--terms {
    width: 8em;
}

.term-warn {
    color: #670000;
}

@media (max-width: 800px) {
    .c {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    .mobile--hide {
        display: none;
    }

    header {
        margin-top: 0.4rem;
    }

    .infobox {
        margin: 0.6em 0;
    }

    .settings {
        grid-template-columns: 1fr;
        column-gap: 0;
        grid-gap: 0;
        padding-bottom: 0.6rem;
    }
    .form-check--subs {
        margin-bottom: 0;
    }
}
