<html><!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="canonical" href="{{ page.canonical }}">
	<meta name="description" content="{{ page.description }}">

	{% if page.index == false %}<meta name="robots" content="noindex">{% endif %}
	<link href="kortgebyr.css" rel="stylesheet" type="text/css" />
	
	{% if page.canonical == "http://kortgebyr.dk" %}
	<script type="text/javascript" src="data.js"></script>
	<script type="text/javascript" src="kortgebyr.js"></script>
	{% endif %}
	
</head>
<body>

	{% include header.html %}

	{{ content }}

	{% include footer.html %}

</body></html>