<html><!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="canonical" href="{{ page.canonical }}">
	<meta name="description" content="{{ page.description }}">

	{% if page.index == false %}<meta name="robots" content="noindex">{% endif %}
	<link href="kortgebyr.css" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
	
	<script type="text/javascript" src="kortgebyr.js"></script>
	<script type="text/javascript" src="data.js"></script>
	
	<script type="text/javascript" src="//use.typekit.net/xbn0tkd.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
</head>
<body>

	{% include header.html %}
	
	{{ content }}

	{% include footer.html %}

</body></html>